

/**<!-- ADD THE POPUP FOR OK OR CANCEL WHEN CLEAR IS PRESSED -->**/
input:valid:required {
  background-color: #ddffdd;
}
textarea:valid:required {
  background-color: #ddffdd;
}
/*

textarea:invalid{
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
  background-color: #ffdddd;
}
input:invalid {
  background-color: #ffdddd;
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}
input:invalid:required{
  border-color: rgba(200, 0, 0, 0.85);
}
textarea:invalid:required{
  border-color: rgba(200, 0, 0, 0.85);
}WHAT IS THE DIFFERENCE BETWEEN THIS ONE AND THE ONE ABOVE

input:required:invalid {
  border-color: #c00000;
}
textarea:required:invalid {
  border-color: #c00000;
}
*/


body {
  text-align: center;
  padding: 10%;
  margin: 1%;
}

form {
  background-color: skyblue;
  padding: 2%;
}

button {
  background-color: #4477b2;
  color: white;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 100%;
}

fieldset {
  border: 0;
  text-align: center;
}

legend {
  color: white;
  font-size: 200%;
}

.btn-primary {
  background-color: #4477b2;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
.bg-model {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.7); /* For the child element to not inherit opacity use rgba!!!!!!Here a is alpha ie the opacity channel */
  position: absolute ;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center; /* align vertically*/
  display: none;
  background:  url("https://thepbsblog.files.wordpress.com/2015/12/blog-laptop.jpg");
  background: cover;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 8px #000000;
}

.model-content {
  height: 23%;
  width: 110%;
  text-align: center;
  position: absolute;
    top: 0;
    padding: 10%;
}

input {
  width: 50%;
  display:  block;
  margin: 15px auto;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.form-content {
  text-align: left;
  padding: 2%;

}

.dandt {
  text-align: right;
  font-size: 100%;
}
